{{page-title "Show"}}
<h2>Fiche Contact : édition</h2>
{{#link-to "contact.show" this.model }}Back{{/link-to}}
  <p>
    <strong>Id:</strong>
    {{ this.model.id }}
  </p>

  <p>
    <strong>Firstname:</strong>
    {{ this.model.FirstName }}
  </p>

  <p>
    <strong>Lastname:</strong>
    {{ this.model.LastName }}
  </p>

  <p>
    <strong>Email:</strong>
    {{ this.model.Email }}
  </p>

  <p>
    <strong>Phone:</strong>
    {{ this.model.Phone }}
  </p>

  <p>
    <strong>Mobilephone:</strong>
    {{ this.model.MobilePhone }}
  </p>