{{page-title "Show"}}
<h2>Fiche Contrat</h2>
<p>
  <strong>Id:</strong>
  {{ this.model.id }}
</p>

<p>
  <strong>AccountId:</strong>
  {{#link-to "account.show" this.model.AccountId }}{{this.model.AccountId}}{{/link-to}}
</p>

<p>
  <strong>StartDate:</strong>
  {{ format-date this.model.StartDate }}
</p>

<p>
  <strong>ContractTerm:</strong>
  {{ this.model.ContractTerm }}
</p>

<p>
  <strong>Status:</strong>
  {{ this.model.Status }}
</p>